* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', 'sans-serif';
  font-size: 14px;
}

span, a, button, img {
  user-select: none;
}

a, button {
  cursor: pointer;
}

#root {
  --container-width: 1480px;

  --background-color: #fefefe;
  --font-color: black;
  --main-color: hsl(207, 88%, 54%);
  --main-color-darker: hsl(207, 88%, 40%);
}

.container {
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: var(--container-width);
  height: 100vh;

  background-color: var(--background-color);
}