* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

span, a, button, img {
  user-select: none;
}

a, button {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#root {
  --container-width: 1920px;
  --content-width: 1480px;

  --background-color: #fefefe;
  --font-color: black;
  --main-color: hsl(207, 88%, 54%);
  --main-color-darker: hsl(207, 88%, 40%);
  --second-color: #0124b6;

  --inactive-color: rgba(255,255,255, 0.5);
  --active-color: rgba(255,255,255, 0.95);

  --gradient: linear-gradient(245deg, #0124b6,hsl(207, 88%, 54%));
}