* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

span, a, button, img {
  user-select: none;
}

a, button {
  cursor: pointer;
}

#root {
  --container-width: 1480px;

  --background-color: #fefefe;
  --font-color: black;
  --main-color: hsl(207, 88%, 54%);
  --main-color-darker: hsl(207, 88%, 40%);
  --second-color: #e70af2;

  --inactive-color: rgba(255,255,255, 0.5);
  --active-color: rgba(255,255,255, 0.95);

  --gradient: linear-gradient(244deg, #e70af2,#009bff,#4abde3);
}